@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.cmsPage {
  width: 320px;
  height: 4301px;
  padding: 30px 0 40px;
  background-color: #ffffff;
}
@media (min-width: 800px) {
  .cmsPage {
    width: 1040px;
    height: 1996px;
    padding: 40px 40px 80px;
    background-color: #ffffff;
  }
}

.cmsPageGrid {
  display: grid;
  grid-template-rows: 400px 800px 370px 450px 1050px 370px 3000px;
}
@media (min-width: 800px) {
  .cmsPageGrid {
    grid-template-rows: 200px 280px 250px 180px 480px 370px 500px;
  }
}

.rectangle {
  width: 24px;
  height: 1px;
  margin: 12px 10px 235px 0;
  background-color: #85b73c;
}
@media (min-width: 800px) {
  .rectangle {
    width: 54px;
    height: 1px;
    margin: 20px 20px 183px 0;
    background-color: #85b73c;
  }
}

.mostImportant {
  width: 266px;
  height: 338px;
  margin: 0 0 0 10px;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #85b73c;
}
@media (min-width: 800px) {
  .mostImportant {
    width: 886px;
    height: 156px;
    margin: 0 0 48px 20px;
    font-family: "OpenSans";
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #85b73c;
  }
}

.mostImportantGrid {
  display: grid;
  grid-template-columns: 24px 266px;
}
@media (min-width: 800px) {
  .mostImportantGrid {
    grid-template-columns: 54px 866px;
  }
}

.courierDeliveryHeader {
  width: 300px;
  height: 21px;
  margin: 0px 10px 24px;
  font-family: "ProximaNova";
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2f46;
}
@media (min-width: 800px) {
  .courierDeliveryHeader {
    width: 250px;
    height: 23px;
    margin: 0;
    font-family: "OpenSans";
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2f46;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.courierDeliveryPicture {
  width: 320px;
  height: 320px;
  margin: 24px 0;
}
.courierDeliveryPicture img {
  width: 320px;
  height: 320px;
}
@media (min-width: 800px) {
  .courierDeliveryPicture {
    width: 220px;
    height: 220px;
    margin: 0;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .courierDeliveryPicture img {
    width: 220px;
    height: 220px;
  }
}

.courierDeliveryText {
  width: 300px;
  height: 408px;
  margin: 24px 10px 0;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #85878f;
}
.courierDeliveryText a {
  color: #2682bd;
}
@media (min-width: 800px) {
  .courierDeliveryText {
    width: 620px;
    height: 234px;
    margin: 0;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #85878f;
  }
  .courierDeliveryText a {
    color: #2682bd;
  }
}

.courierDeliveryGrid {
  display: grid;
  grid-template-rows: 21px 350px 480px;
}
@media (min-width: 800px) {
  .courierDeliveryGrid {
    grid-template-columns: 660px 250px;
    grid-template-rows: 50px 250px;
  }
}

.localDeliveryHeader {
  width: 300px;
  height: 23px;
  margin: 70px 0 14px 10px;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2f46;
}
@media (min-width: 800px) {
  .localDeliveryHeader {
    width: 300px;
    height: 23px;
    margin: 44px 247px 10px 0;
    font-family: OpenSans;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2f46;
  }
}

.localDeliveryText {
  width: 300px;
  height: 120px;
  margin: 14px 0 24px 14px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #85878f;
}
.localDeliveryText a {
  color: #2682bd;
}
@media (min-width: 800px) {
  .localDeliveryText {
    width: 920px;
    height: 52px;
    margin: 14px 40px 26px 0;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #85878f;
  }
  .localDeliveryText a {
    color: #2682bd;
  }
}

.localDeliveryList {
  width: 300px;
  height: 112px;
  margin: 24px 33px 0 8px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #85878f;
}
.localDeliveryList li {
  margin-top: 5px;
}
.localDeliveryList ul {
  margin-top: 50px;
}
@media (min-width: 800px) {
  .localDeliveryList {
    width: 500px;
    height: 78px;
    margin: 26px 1px 32px 8px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #85878f;
  }
  .localDeliveryList li {
    margin-top: 5px;
  }
}

.localDeliveryGrid {
  display: grid;
  grid-template-rows: 30px 150px 120px;
}
@media (min-width: 800px) {
  .localDeliveryGrid {
    grid-template-columns: 660px 250px;
    grid-template-rows: 50px 250px;
  }
}

.localDeliveryGridWithSubtitle {
  display: grid;
  grid-template-rows: 30px 150px 120px;
}
@media (min-width: 800px) {
  .localDeliveryGridWithSubtitle {
    grid-template-columns: 660px 250px;
    grid-template-rows: 50px 250px;
  }
}

.letterIconImg {
  width: 26px;
  height: 26px;
  object-fit: contain;
  background-color: #1e4ca8;
  margin-left: 7.5px;
  margin-top: 7.5px;
}

.letterIconBg {
  width: 42px;
  height: 42px;
  margin: 0;
  padding: 0;
  background-color: #1e4ca8;
  border-radius: 50%;
}
@media (min-width: 800px) {
  .letterIconBg {
    width: 42px;
    height: 42px;
    margin: 0;
    padding: 0;
    background-color: #1e4ca8;
    border-radius: 50%;
  }
}

.letterIconBgTop {
  width: 42px;
  height: 42px;
  margin: 0 0 0 60px;
  padding: 0;
  background-color: #1e4ca8;
  border-radius: 50%;
}
@media (min-width: 800px) {
  .letterIconBgTop {
    width: 42px;
    height: 42px;
    margin: 0 0 0 60px;
    padding: 0;
    background-color: #1e4ca8;
    border-radius: 50%;
  }
}

.discountContainer {
  margin-top: 40px;
  margin-left: 25px;
}

.discountContainerTop {
  margin-top: 50px;
  margin-left: 25px;
}
@media (min-width: 800px) {
  .discountContainerTop {
    margin-top: 50px;
    margin-left: 425px;
  }
}

.discountHeader {
  width: 246px;
  height: 19px;
  margin: 0 0 6px 5px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #85878f;
  text-transform: uppercase;
}

.discountHeaderTop {
  width: 145px;
  height: 19px;
  margin: 15px 0 20px 10px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #85878f;
  text-transform: uppercase;
}
@media (min-width: 800px) {
  .discountHeaderTop {
    width: 145px;
    height: 19px;
    margin: 15px 0 20px 10px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #85878f;
    text-transform: uppercase;
  }
}

.discountText {
  width: 246px;
  height: 38px;
  margin: 6px 0 0 5px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #85878f;
}
@media (min-width: 800px) {
  .discountText {
    width: 260px;
    height: 38px;
    margin: 6px 0 0 5px;
    font-family: OpenSans;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: #85878f;
  }
}

.discountTextTop {
  width: 145px;
  height: 38px;
  margin: 6px 0 0 5px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #85878f;
}
@media (min-width: 800px) {
  .discountTextTop {
    width: 168x;
    height: 38px;
    margin: 6px 0 0 5px;
    font-family: OpenSans;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: #85878f;
  }
}

.discountItemGridIconLeft {
  display: grid;
  grid-template-columns: 42px 268px;
  grid-template-rows: 30px 50px;
  margin-top: 20px;
}
.discountItemGridIconLeft .gridIconLeft {
  grid-row-start: 1;
  grid-row-end: 2;
}
.discountItemGridIconLeft .gridTextLeft {
  grid-column-start: 2;
}

.discountItemGridIconTop {
  display: grid;
  margin-top: 10px;
}
.discountItemGridIconTop .topGridAlign {
  text-align: center;
}

.discountContainerSideGrid {
  display: grid;
  grid-template-columns: 190px 170px;
}

.discountsContainersGrid {
  display: grid;
  grid-template-rows: 210px 210px;
}
@media (min-width: 800px) {
  .discountsContainersGrid {
    grid-template-columns: 430px 430px;
  }
}

.textColumnHeader {
  width: 300px;
  height: 23px;
  margin: 50px 0 14px 10px;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2f46;
}
@media (min-width: 800px) {
  .textColumnHeader {
    width: 200px;
    height: 23px;
    margin: 44px 6px 14px 0;
    font-family: OpenSans;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2f46;
  }
}

.textColumnContent {
  width: 300px;
  height: 408px;
  margin: 14px 0 0 10px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #85878f;
}
.textColumnContent a {
  color: #2682bd;
}
@media (min-width: 800px) {
  .textColumnContent {
    width: 434px;
    height: 312px;
    margin: 14px 38px 44px 0;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #85878f;
  }
  .textColumnContent a {
    color: #2682bd;
  }
}

.textColumnsGrid {
  display: grid;
}
@media (min-width: 800px) {
  .textColumnsGrid {
    grid-template-columns: 470px 470px;
    margin-top: 50px;
  }
}

.subtitle {
  width: 300px;
  height: 22px;
  margin: 16px 132px 20px 10px;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #2682bd;
  text-transform: uppercase;
}
@media (min-width: 800px) {
  .subtitle {
    width: 300px;
    height: 22px;
    margin: 16px 12px 20px 0;
    font-family: OpenSans;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2682bd;
    text-transform: uppercase;
  }
}

.mobileTableGrid {
  display: grid;
  grid-template-rows: 500px 500px 500px;
}
.mobileTableGrid .mobileColumnGrid {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 50px 50px 50px 50px;
}
.mobileTableGrid .mobileColumnGrid .mobileColumnHeader {
  grid-column-start: 1;
  grid-column-end: 3;
}
.mobileTableGrid .mobileColumnGrid .rowHeadersGrid {
  display: grid;
  grid-template-rows: 75px 75px 75px 75px;
}
.mobileTableGrid .mobileColumnGrid .columnDataGrid {
  display: grid;
  grid-template-rows: 75px 75px 75px 75px;
}
@media (min-width: 800px) {
  .mobileTableGrid {
    display: none;
  }
}

.desktopTableGrid {
  display: none;
}
@media (min-width: 800px) {
  .desktopTableGrid .desktopColumnGrid {
    display: grid;
    grid-template-rows: 75px 75px 75px 75px 75px;
  }
}
@media (min-width: 800px) {
  .desktopTableGrid {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
  }
}

/*# sourceMappingURL=style.css.map */
