@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@mixin cmsPageMix($width, $height, $padding) {
  width: $width;
  height: $height;
  padding: $padding;
  background-color: #ffffff;
}

.cmsPage {
  @include cmsPageMix(320px, 4301px, 30px 0 40px);
  @media (min-width: 800px) {
    @include cmsPageMix(1040px, 1996px, 40px 40px 80px);
  }
}

.cmsPageGrid {
  display: grid;
  grid-template-rows: 400px 800px 370px 450px 1050px 370px 3000px;
  @media (min-width: 800px) {
    grid-template-rows: 200px 280px 250px 180px 480px 370px 500px;
  }
}

@mixin rectangleMix($width, $height, $margin) {
  width: $width;
  height: $height;
  margin: $margin;
  background-color: #85b73c;
}

.rectangle {
  @include rectangleMix(24px, 1px, 12px 10px 235px 0);
  @media (min-width: 800px) {
    @include rectangleMix(54px, 1px, 20px 20px 183px 0);
  }
}

@mixin mostImportantMix($width, $height, $margin, $fontSize, $fontWeight) {
  width: $width;
  height: $height;
  margin: $margin;
  font-family: 'OpenSans';
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #85b73c;
}

.mostImportant {
  @include mostImportantMix(266px, 338px, 0 0 0 10px, 18px, normal);
  @media (min-width: 800px) {
    @include mostImportantMix(886px, 156px, 0 0 48px 20px, 21px, 300);
  }
}

.mostImportantGrid {
  display: grid;
  grid-template-columns: 24px 266px;
  @media (min-width: 800px) {
    grid-template-columns: 54px 866px;
  }
}

@mixin courierDeliveryHeaderMix($width, $height, $margin, $fontFamily) {
  width: $width;
  height: $height;
  margin: $margin;
  font-family: $fontFamily;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2f46;
}

.courierDeliveryHeader {
  @include courierDeliveryHeaderMix(300px, 21px, 0px 10px 24px, 'ProximaNova');
  @media (min-width: 800px) {
    @include courierDeliveryHeaderMix(250px, 23px, 0, 'OpenSans');
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@mixin courierDeliveryPictureMix($width, $height, $margin) {
  width: $width;
  height: $height;
  margin: $margin;
  img {
    width: $width;
    height: $height;
  }
}

.courierDeliveryPicture {
  @include courierDeliveryPictureMix(320px, 320px, 24px 0);
  @media (min-width: 800px) {
    @include courierDeliveryPictureMix(220px, 220px, 0);
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

@mixin courierDeliveryTextMix($width, $height, $margin, $lineHeight) {
  width: $width;
  height: $height;
  margin: $margin;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: $lineHeight;
  letter-spacing: normal;
  color: #85878f;
  a {
    color: #2682bd;
  }
}

.courierDeliveryText {
  @include courierDeliveryTextMix(300px, 408px, 24px 10px 0, 1.71);
  @media (min-width: 800px) {
    @include courierDeliveryTextMix(620px, 234px, 0, 1.86);
  }
}

.courierDeliveryGrid {
  display: grid;
  grid-template-rows: 21px 350px 480px;
  @media (min-width: 800px) {
    grid-template-columns: 660px 250px;
    grid-template-rows: 50px 250px;
  }
}

@mixin localDeliveryHeaderMix($width, $height, $margin) {
  width: $width;
  height: $height;
  margin: $margin;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2f46;
}

.localDeliveryHeader {
  @include localDeliveryHeaderMix(300px, 23px, 70px 0 14px 10px);
  @media (min-width: 800px) {
    @include localDeliveryHeaderMix(300px, 23px, 44px 247px 10px 0);
  }
}

.localDeliveryText {
  @include courierDeliveryTextMix(300px, 120px, 14px 0 24px 14px, 1.71);
  @media (min-width: 800px) {
    @include courierDeliveryTextMix(920px, 52px, 14px 40px 26px 0, 1.86);
  }
}

@mixin localDeliveryListMix($width, $height, $margin, $lineHeight) {
  width: $width;
  height: $height;
  margin: $margin;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: $lineHeight;
  letter-spacing: normal;
  color: #85878f;
  li {
    margin-top: 5px;
  }
}

.localDeliveryList {
  @include localDeliveryListMix(300px, 112px, 24px 33px 0 8px, 1.43);

  ul {
    margin-top: 50px;
  }

  @media (min-width: 800px) {
    @include localDeliveryListMix(500px, 78px, 26px 1px 32px 8px, 1.86);

  }
}

.localDeliveryGrid {
  display: grid;
  grid-template-rows: 30px 150px 120px;
  @media (min-width: 800px) {
    grid-template-columns: 660px 250px;
    grid-template-rows: 50px 250px;
  }
}

.localDeliveryGridWithSubtitle {
  display: grid;
  grid-template-rows: 30px 150px 120px;
  @media (min-width: 800px) {
    grid-template-columns: 660px 250px;
    grid-template-rows: 50px 250px;
  }
}

.letterIconImg {
  width: 26px;
  height: 26px;
  object-fit: contain;
  background-color: #1e4ca8;
  margin-left: 7.5px;
  margin-top: 7.5px;
}

@mixin letterIconBgMix($width, $height, $margin, $padding) {
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
  background-color: #1e4ca8;
  border-radius: 50%;
}

.letterIconBg {
  @include letterIconBgMix(42px, 42px, 0, 0);
  @media (min-width: 800px) {
    @include letterIconBgMix(42px, 42px, 0, 0);
  }
}

.letterIconBgTop {
  @include letterIconBgMix(42px, 42px, 0 0 0 60px, 0);
  @media (min-width: 800px) {
    @include letterIconBgMix(42px, 42px, 0 0 0 60px, 0);
  }
}

@mixin discountHeaderMix($width, $height, $margin) {
  width: $width;
  height: $height;
  margin: $margin;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #85878f;
  text-transform: uppercase;
}

.discountContainer {
  margin-top: 40px;
  margin-left: 25px;
}

.discountContainerTop {
  margin-top: 50px;
  margin-left: 25px;
  @media (min-width: 800px) {
    margin-top: 50px;
    margin-left: 425px;
  }
}

.discountHeader {
  @include discountHeaderMix(246px, 19px, 0 0 6px 5px);
}

.discountHeaderTop {
  @include discountHeaderMix(145px, 19px, 15px 0 20px 10px);
  @media (min-width: 800px) {
    @include discountHeaderMix(145px, 19px, 15px 0 20px 10px);
  }
}

@mixin discountTextMix($width, $height, $margin) {
  width: $width;
  height: $height;
  margin: $margin;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #85878f;
}

.discountText {
  @include discountTextMix(246px, 38px, 6px 0 0 5px);
  @media (min-width: 800px) {
    @include discountTextMix(260px, 38px, 6px 0 0 5px);
  }
}

.discountTextTop {
  @include discountTextMix(145px, 38px, 6px 0 0 5px);
  @media (min-width: 800px) {
    @include discountTextMix(168x, 38px, 6px 0 0 5px);
  }
}

.discountItemGridIconLeft {
  display: grid;
  grid-template-columns: 42px 268px;
  grid-template-rows: 30px 50px;
  margin-top: 20px;

  .gridIconLeft {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .gridTextLeft {
    grid-column-start: 2;
  }
}

.discountItemGridIconTop {
  display: grid;
  margin-top: 10px;

  .topGridAlign {
    text-align: center;
  }
}

.discountContainerSideGrid {
  display: grid;
  grid-template-columns: 190px 170px;
}

.discountsContainersGrid {
  display: grid;
  grid-template-rows: 210px 210px;
  @media (min-width: 800px) {
    grid-template-columns: 430px 430px;
  }
}

.textColumnHeader {
  @include localDeliveryHeaderMix(300px, 23px, 50px 0 14px 10px);
  @media (min-width: 800px) {
    @include localDeliveryHeaderMix(200px, 23px, 44px 6px 14px 0);
  }
}

.textColumnContent {
  @include courierDeliveryTextMix(300px, 408px, 14px 0 0 10px, 1.71);
  @media (min-width: 800px) {
    @include courierDeliveryTextMix(434px, 312px, 14px 38px 44px 0, 1.86);
  }
}

.textColumnsGrid {
  display: grid;
  @media (min-width: 800px) {
    grid-template-columns: 470px 470px;
    margin-top: 50px;
  }
}

@mixin subtitleMix($margin) {
  width: 300px;
  height: 22px;
  margin: $margin;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #2682bd;
  text-transform: uppercase;
}

.subtitle {
  @include subtitleMix(16px 132px 20px 10px);
  @media (min-width: 800px) {
    @include subtitleMix(16px 12px 20px 0);
  }
}

.mobileTableGrid {
  display: grid;
  grid-template-rows: 500px 500px 500px;

  .mobileColumnGrid {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 50px 50px 50px 50px;

    .mobileColumnHeader {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .rowHeadersGrid {
      display: grid;
      grid-template-rows: 75px 75px 75px 75px;
    }

    .columnDataGrid {
      display: grid;
      grid-template-rows: 75px 75px 75px 75px;
    }
  }

  @media (min-width: 800px) {
    display: none;
  }
}

.desktopTableGrid {
  display: none;
  .desktopColumnGrid {
    @media (min-width: 800px) {
      display: grid;
      grid-template-rows: 75px 75px 75px 75px 75px;
    }
  }
  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
  }
}